<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:a="http://schemas.android.com/apk/res/android"
		  package="org.solovyev.android.calculator"
		  a:installLocation="auto"
		  a:versionCode="20"
		  a:versionName="1.2.20">

	<uses-permission a:name="android.permission.VIBRATE"/>

	<uses-sdk a:minSdkVersion="4"
			  a:targetSdkVersion="8"/>

	<application a:icon="@drawable/icon"
				 a:label="@string/c_app_name"
				 a:name=".ApplicationContext">

		<activity a:name=".CalculatorActivity"
				  a:label="@string/c_app_name">

			<intent-filter>
				<action a:name="android.intent.action.MAIN"/>
				<category a:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<activity a:name=".CalculatorPreferencesActivity"
				  a:label="@string/c_app_settings"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".history.CalculatorHistoryActivity"
				  a:label="@string/c_app_history"
				  a:configChanges="orientation|keyboardHidden"/>

	   	<activity a:name=".history.HistoryActivityTab"
				  a:label="@string/c_history"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".history.SavedHistoryActivityTab"
				  a:label="@string/c_saved_history"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".AboutActivity"
				  a:label="@string/c_about"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".help.HelpActivity"
				  a:label="@string/c_help"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".help.HelpFaqActivity"
				  a:label="@string/c_help"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".help.HelpHintsActivity"
				  a:label="@string/c_help"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".help.HelpScreensActivity"
				  a:label="@string/c_help"
				  a:configChanges="orientation|keyboardHidden"/>

        <activity a:name=".math.edit.CalculatorFunctionsActivity"
                  a:label="@string/c_functions"
                  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".math.edit.CalculatorFunctionsTabActivity"
				  a:label="@string/c_functions"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".math.edit.CalculatorOperatorsActivity"
				  a:label="@string/c_operators"
				  a:configChanges="orientation|keyboardHidden"/>

        <activity a:name=".math.edit.CalculatorVarsActivity"
                  a:label="@string/c_vars_and_constants"
                  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".math.edit.CalculatorVarsTabActivity"
				  a:label="@string/c_vars_and_constants"
				  a:configChanges="orientation|keyboardHidden"/>

		<activity a:name=".CalculatorPlotActivity"
				  a:label="@string/c_plot_graph"/>

	</application>
</manifest>