<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="org.solovyev.android.calculator"
		  android:versionCode="1"
		  android:versionName="0.0.1">

	<uses-sdk android:minSdkVersion="8"/>

	<application android:icon="@drawable/icon"
				 android:label="@string/c_app_name">

		<activity android:name=".CalculatorActivity"
				  android:label="@string/c_app_name">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<activity android:name=".CalculatorPreferencesActivity"
				  android:label="@string/c_app_settings"
				  android:configChanges="orientation|keyboardHidden"/>

		<activity android:name=".CalculatorHistoryActivity"
				  android:label="@string/c_app_history"
				  android:configChanges="orientation|keyboardHidden">
		</activity>

		<activity android:name=".AboutActivity"
				  android:label="@string/c_about"
				  android:configChanges="orientation|keyboardHidden"/>

		<activity android:name=".CalculatorVarsActivity"
				  android:label="@string/c_vars_and_constants"
				  android:configChanges="orientation|keyboardHidden">
		</activity>

	</application>
</manifest>